<div class="container">
  <div class="card">
    <div class="adjuster">
      <form [formGroup]="signupform" (ngSubmit)="onSubmit(signupform.value)">
        <h2>Sign Up</h2>
        <input
          type="text"
          formControlName="firstname"
          placeholder="First Name"
        />
        <div
          *ngIf="signupform.controls['firstname'].touched && signupform.controls['firstname'].errors?.['required']"
        >
          First Name is required
        </div>
        <input type="text" formControlName="lastname" placeholder="Last Name" />
        <div
          *ngIf="signupform.controls['lastname'].touched && signupform.controls['lastname'].errors?.['required']"
        >
          Last Name is required
        </div>
        <input type="email" formControlName="email" placeholder="Email" />
        <div
          *ngIf="signupform.controls['email'].touched && signupform.controls['email'].errors?.['required']"
        >
          Email is required
        </div>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <div
          *ngIf="
            signupform.controls['password']?.touched &&
            signupform.controls['password'].invalid
          "
        >
          Minimum length is 8 <br />
          Contains atleast 1 Special Character <br />
          Contains atleast 1 uppercase and 1 lowercase <br />
        </div>
        <input
          type="password"
          formControlName="confirmpassword"
          placeholder="Confirm Password"
        />
        <div
          *ngIf="
            signupform.controls['confirmpassword']?.touched &&
            signupform.controls['confirmpassword'].invalid
          "
        >
          Minimum length is 8 <br />
          Contains atleast 1 Special Character <br />
          Contains atleast 1 uppercase and 1 lowercase <br />
        </div>
        <label for="acceptCheckbox">
          <input
            type="checkbox"
            id="acceptCheckbox"
            formControlName="checkbox"
          />
          <div
          *ngIf="signupform.controls['checkbox'].errors?.['unchecked']"
        >
        </div>
          I accept the Terms of Use and Privacy Policy
        </label>
        <button>Sign Up</button>
        <p>Already have and account? <a href="">Login here</a></p>
        <p>copyright YourCompany.com</p>
      </form>
    </div>
  </div>
</div>
